{% extends "catalog/base_generic.html" %}

{% block content %}
<h2>Личный кабинет</h2>
<p>Добро пожаловать, {{ user.profile.full_name }}!</p>

<a href="{% url 'apply' %}" class="btn btn-success"> Новая заявка</a>
<a href="{% url 'my_applications' %}" class="btn btn-info"> Мои заявки</a>

{% if user.is_staff %}
    <div class="alert alert-warning mt-4">
        <h3>🛠️ Панель администратора</h3>
        <ul>
            <li><a href="{% url 'admin_applications' %}">Все заявки</a> — смена статуса</li>
            <li><a href="{% url 'admin_categories' %}">Управление категориями</a> — добавить/удалить</li>
        </ul>
    </div>
{% endif %}
{% endblock %}