{% extends "catalog/base_generic.html" %}

{% block content %}
<h2>Личный кабинет</h2>

<p>Добро пожаловать, {{ user.profile.full_name }}!</p>

<div class="mt-4">
    <h3>Ваши заявки</h3>
    <a href="{% url 'apply' %}" class="btn btn-success"> Новая заявка</a>
    <a href="{% url 'my_applications' %}" class="btn btn-info"> Все заявки</a>
</div>

{% if user.is_staff %}
    <div class="mt-4 p-3 bg-light">
        <h4> Админ-панель заявок</h4>
        <a href="/superadmin/catalog/application/" class="btn btn-warning">Управление заявками</a>
    </div>
{% endif %}
{% endblock %}